*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #fff;
    color: #072f48;
    font-size: 1.2rem;
    line-height: 1.6em;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

h1
{
    font-size: 2rem;
    line-height: 1.3em;
}

p
{
    margin-bottom: 1.6em;
}

.container
{
    width: 85%;
    max-width: 970px;
    margin: 0 auto;
}

header
{
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    padding: 1.8rem 3.1rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header2
{
    border-bottom: 1px solid #c4c4c4;
    padding: 1rem 3.1rem;
}

.logoHeader
{
    width: 8%;
}

.header2 .logoHeader
{
    width: 5%;
}

.hamburguer-icon
{
    display: none;
}

header a
{
    color: #6d6e71;
    text-decoration: none;  
}

.logo-nav-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul
{
    list-style: none;
}

.nav-item
{
    display: inline-block;
}

.current
{
    border-bottom: 2px solid #e33942;
}

.nav-item:hover
{
    border-bottom: 2px solid #e33942;
}

.navigation ul li a
{
    display: block;
    padding: 0.1rem 1rem;
}

.navigation ul li a:hover
{
    cursor: pointer;
}

.main
{
    padding-top: 17rem;
}

.main-title
{
    font-size: 3.375rem;
    line-height: 1.2;
    margin-bottom: 35px;
    color: #e33942;
}

.main-title-description
{
    font-weight: 300;
    font-size: 1.25em;
}

.footer
{
    background: #e9ecef;
    padding: 3rem 0;
    text-align: center;
}

.footer-social
{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid #072f4856;
}

.footer-social a
{
    width: 5%;
}

.footer-social a img
{
    width: 100%;
}

.footer-dev-info
{
    color: #000;
    font-size: 0.9em;
    margin-top: 9rem;
}

.footer-dev-info p a
{
    text-decoration: none;
}

.footer-dev-info p a:hover
{
    color: #e33942;
    text-decoration: underline;
}

@media only screen and (max-width: 767px)
{
.logoHeader
{
    width: 15%;
}


.navigation
{
    width: 100%;
    margin-top: 1rem;
}

.hamburguer-icon
{
    display: block;
    cursor: pointer;
}

.hamburguer-icon img
{
   width: 3rem;
}

.header2 .hamburguer-icon img
{
   width: 2rem;
}

.navigation ul
{
    display: none;
}

.navigation ul.show
{
    display: block;
}

.navigation ul li
{
    display: block;
}

.navigation ul li a
{
    display: block;
    padding: 0.1rem 0;
}

}
