*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #fff;
    color: #072f48;
    font-size: 1.2rem;
    line-height: 1.6em;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

h1
{
    font-size: 2rem;
    line-height: 1.3em;
}

p
{
    margin-bottom: 1.6em;
}

.container
{
    width: 85%;
    max-width: 970px;
    margin: 0 auto;
}

header
{
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    padding: 1.8rem 3.1rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header2
{
    border-bottom: 1px solid #c4c4c4;
    padding: 1rem 3.1rem;
}

.logoHeader
{
    width: 8%;
}

.header2 .logoHeader
{
    width: 5%;
}

.hamburguer-icon
{
    display: none;
}

header a
{
    color: #6d6e71;
    text-decoration: none;  
}

.logo-nav-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul
{
    list-style: none;
}

.nav-item
{
    display: inline-block;
}

.nav-item:hover
{
    border-bottom: 2px solid #e33942;
}

.navigation ul li a
{
    display: block;
    padding: 0.1rem 1rem;
}

.navigation ul li a:hover
{
    cursor: pointer;
}

.main
{
    padding-top: 17rem;
}

.main-title
{
    font-size: 3.375rem;
    line-height: 1.2;
    margin-bottom: 35px;
    color: #e33942;
}

.main-title-description
{
    font-weight: 300;
    font-size: 1.25em;
    margin-bottom: 4em;
}

.section-gallery
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.section-2-img
{
    width: 47%;
    padding-right: 30px;
}

.section-2-img img
{
    width: 100%;
    height: 260px;
}

.section-2-text
{
    width: 53%;
}

.section-titles
{
    color:#e33942;
    margin-bottom: 1rem;
    font-size: 2.25em;
    line-height: 1.2;
}

.section-paragraphs
{
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4;
}

.section-3
{
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 6%;
}

.section-3-iframe
{
    width: 47%;
}

.section-3-iframe iframe
{
    width: 100%;
    height: 100%;
}

.section-nosotros-main
{
    margin-bottom: 4rem;
}

.text-nosotros
{
    width: 80%;
}

.section-4-img
{
    width: 20%;
}

.section-4-img img
{
 width: 100%;
 height: 80%;
}

.text-person2
{
    padding-left: 3%;
}

.footer
{
    background: #e9ecef;
    padding: 3rem 0;
    text-align: center;
}

.footer-social
{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid #072f4856;
}

.footer-social a
{
    width: 6%;
}

.footer-social a img
{
    width: 100%;
}

.footer-dev-info
{
    color: #000;
    font-size: 0.9em;
    margin-top: 9rem;
}

.footer-dev-info p a
{
    text-decoration: none;
}

.footer-dev-info p a:hover
{
    color: #e33942;
    text-decoration: underline;
}

@media only screen and (max-width: 767px)
{
.logoHeader
{
    width: 15%;
}


.navigation
{
    width: 100%;
    margin-top: 1rem;
}

.hamburguer-icon
{
    display: block;
    cursor: pointer;
}

.hamburguer-icon img
{
   width: 3rem;
}

.header2 .hamburguer-icon img
{
   width: 2rem;
}

.navigation ul
{
    display: none;
}

.navigation ul.show
{
    display: block;
}

.nav-item a
{
    font-size: 2rem;
    margin: 2rem;
}

.navigation ul li
{
    display: block;
}

.navigation ul li a
{
    display: block;
    padding: 0.1rem 0;
}

.section-gallery
{
    display: block;
    margin-bottom: 7%;
}

.section-2-img
{
    width: 100%;
    padding-right: 0;
    padding-bottom: 7%;
}

.section-2-img img
{
    height: 360px;
}

.section-2-text
{
    width: 100%;
}

.section-3-iframe
{
    width: 100%;
    height: 320px;
}




.section-nosotros-main
{
    margin-bottom: 4rem;
}

.section-nosotros-person1, .section-nosotros-person2
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text-nosotros
{
    width: 80%;
}

.section-4-img
{
    width: 20%;
}

.section-4-img img
{
 width: 100%;
 height: 80%;
}




.footer-social a
{
    width: 15%;
}

}

@media only screen and (max-width: 640px)
{
    .main-title
    {
        font-size: 2em;
    }

    .main-title-description
    {
        font-size: 1em;
    }


    .section-gallery
{
    display: block;
    margin-bottom: 7%;
}

.section-2-img
{
    width: 100%;
    padding-right: 0;
    padding-bottom: 7%;
}

.section-2-img img
{
    height: 187.875px;
}

.section-titles
{
    font-size: 1.8em;
}

.section-paragraphs
{
    font-size: 1em;
}

.section-3-iframe
{
    height: 187.875px;
}

.section-nosotros-main
{
    margin-bottom: 4rem;
}

.section-nosotros-person1, .section-nosotros-person2
{
    display: block;
}

.text-nosotros
{
    width: 100%;
}

.section-4-img
{
    width: 80%;
}

.section-nosotros-person1
{
    border-bottom: 3px solid  #e3e3e3;
}

.section-4-img img
{
 width: 100%;
 height: 60%;
}
}